.home {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.butoaneModalTask{
    display: flex;
    flex-direction: column;
}

.dreapta {
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.numeStatus{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.styleTask{
    justify-content: center;
    border: 10px solid #1a1a1a;
    border-radius: 10px;
}

.projects-container li {
    margin: auto;
    flex-direction: column;
    display: flex;
    margin-bottom: 20px;
    background: #646cff;
    border-radius: 10px;
    width: 800px;

}

.modal-content {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    top: 30%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;
    position: fixed;
}

.butoaneProiect{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.butoaneTask{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selectStudents{
    flex: 1;
    display: flex;
    width: 200px;
    margin-bottom: 5px;
}

.modal-content h2 {
    flex: 1;
    display: flex;
    align-items: center;
    color: #1a1a1a;
}
.modal-content input, .modal-content textarea{
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: 10px;
}

.modal-content label, .modal-content Select {
    display: flex;
    flex: 1;
    align-items: center;
    color: #1a1a1a;
}

.modal-content button {
    margin-top: 10px;
    background: #646cff;
}
