.leader{
    /*position: absolute;*/
    flex-direction: column;
}

.totLeaderboard{
    border-right: 5px solid #646cff;
    border-left: 5px solid #646cff;
    border-bottom: 5px solid #646cff;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
}

.topLeaderRow{
    flex-direction: row;
    display: flex;
    align-items: center;
}